.reveal .image-container {
  background: #fff;
  display: inline-block;
  padding: 20px;
  margin-bottom: 20px;
  border: 10px solid rgb(244, 244, 244);
  border-top-color: transparent;
}

.reveal .image-container img {
  padding: 0;
  margin: 0;
  box-shadow: none !important;
  border: 0;
  vertical-align: middle;
}

.reveal pre code {
  background: #FFFFFF;
  max-height: 700px;
}
